.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 375px) {
    .header__logo {
        height: 24px;
        width: 103px;
    }
}